{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block content %}
<br><br><br>
    <h1 align="center" class="post-title loader"><a href="{% url 'post_list' %}">About BlogBuster</a></h1>
    <h2>How to use this free Blog website!</h2>
    <ul>
        <li><h3>All Blogs can be read without Registration</h3></li>
        <li><h3>To Submit Blog article Registration is necessary</h3></li>
        <li><h3>To comment on any Blog Registration is necessary</h3></li>
        <li><h3>Read, learn, Share, Enjoy!</h3></li>
    </ul>

{% endblock %}
